body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #f4f6f8;
}
#h1{
  font-family: system-ui, '-apple-system', 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
  text-align: center;
  font-size: 70px;
}
#container {
  border: 1px solid rgb(186, 186, 186);
  width: 400px;
  height: 200px;
  margin: 70px auto;
  padding: 60px;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#counter {
  font-size: 100px;
  padding-bottom: 0px;
  font-weight: 700;
  color: #333;
}
.buttons {
  padding: 10px 18px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}
#decreaseBtn {
  background-color: #ff0000;
}
#decreaseBtn:hover {
  background-color: #cc0000;
}
#increaseBtn {
  background-color: #00b300;
}
#increaseBtn:hover {
  background-color: #009800;
}
#resetBtn {
  background-color: #007bff;
}
#resetBtn:hover {
  background-color: #0056b3;
}