h1 {
  text-align: center;
  /* display: block; */
  padding: 20px 0px 20px 0px;
  font-family: Tahoma, Verdana, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 60px;
  margin-left: 470px;
  margin-right: 470px;
  border-radius: 20px;
  /* align-items: center;
    align-content: center; */
}

/* -------------------------------- */

#counter {
  display: block;
  text-align: center;
  font-size: 200px;
  font-family: "Orbitron", sans-serif;
  color: rgb(0, 0, 0);
  /* font-family: 'Roboto Mono', monospace; */
}
#container {
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 40px;
  margin: 20px;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: rgb(216, 214, 212);
}
.buttons {
  padding: 10px 20px;
  font-size: 25px;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#decreaseBtn {
  background-color: red;
}
#decreaseBtn:hover {
  background-color: rgb(202, 0, 0);
}
#resetBtn {
  background-color: rgb(0, 0, 255);
}
#resetBtn:hover {
  background-color: rgb(0, 0, 161);
}
#increaseBtn {
  background-color: green;
}
#increaseBtn:hover {
  background-color: rgb(1, 99, 1);
}
